<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/css/comon0.css">
    <script type="text/javascript" src="../static/js/jquery.js"></script>
</head>
<body>

<div id="load_d" class="loading" style="display: none">
    <div class="loadbox"><img src="../static/picture/loading.gif"> 数据抓取中...预计需要30分钟</div>
</div>
<script>
    function ajaxLoading(){
        $("#load_d").show();
    }
    function ajaxLoadEnd(){
        $("#load_d").hide();
    }

    $(function () {
        $.ajax({
                    url:'/spider_comment',
                    type:'GET',
                    beforeSend:function() {
                         ajaxLoading();
                    },
                    success:function (data) {
                        ajaxLoadEnd();
                        location.href="/index";
                    }
                })
    })
</script>
</body>
</html>